################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plugins/ExternalService.Yahoo/bin
/Plugins/ExternalService.Yahoo/obj
/Solutions/.vs/ExternalService.Yahoo/v15
/.vs
